{%extends 'dashboard/dash-base.html'%}
<!--  -->
{% load bootstrap3 %}
<!--  -->
{% block content%}
<h1 class="text-center">Post a new photo</h1>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form action="{% url 'upload_photo'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%} {% bootstrap_form uploads_form%}

        <input type="submit" class="btn btn-success btn-default btn-block" value="Post">


      </form>
    </div>
    <div class="col-md-2"></div>


  </div>
</div>


{%endblock%}