<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-default navbar-static-top justify-content-between">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="..static/images/if_Instaicon.png" width="30" height="30" alt="icon"><span></span>
            </a>
            <a class="navbar-brand" href="{% url 'home' %}">InstaClone</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <button type="button" class="btn btn-default navbar-btn">Sign in</button>
            <button type="button" class="btn btn-default navbar-btn">Sign up</button>

            <div class="">
              {% if user.is_authenticated %}
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                      <span class="caret"></span>
                                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="{%url 'newsToday'%}">Home</a>
                    </li>
                    <li>
                      <a href="/accounts/password/change">Change Password</a>
                    </li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
              {% else %}
              <li>
                <a class='btn btn-default' href="/accounts/login">Login</a>
              </li>

              {% endif %}
            </div>
            <!-- Adding a search form  -->
            <div class="navbar-right pull-right">

              <form class="navbar-form" role="search" action="{% url 'home' %}">

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="category" aria-label="Search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>

              </form>
            </div>
            <!-- search form end -->
          </div>
        </div>
      </nav>

    </div>
  </div>

</body>