{%extends 'dashboard/dash-base.html'%} {% block content %}

<br>
<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        {% if profiles%}
        <h2>Found {{ profiles|length }} results for "<em>{{message}}</em>".</h2>
        <!--  -->
        {% else %}
        <h2> No profiles matching "<em>{{message}}</em>" were found.</h2> {% endif %}
      </div>
    </div>
    {% if profiles%}
    <div class="panel-body">
      <div class="row">
        {% for profile in profiles %}

        <div class="col-xs-3 col-sm-3 col-md-3">
          {% if profile.avatar%}
          <a href="{% url 'user_profile' profile.user.id%}">
            <img src="{{profile.avatar.url}}" class="img-responsive" alt="{{profile.user}}" style="width:200px; height:200px">
          </a> {%else%}
          <a href="{% url 'user_profile' profile.user.id%}">
            <img class="img-circle img-responsive" src="../../static/images/default.png" alt="default display picture" style="width:200px; height:200px">
          </a> {%endif%}
          <div class="caption">
            <a href="{% url 'user_profile' profile.user.id%}">{{profile.user}}</a>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!--  -->
{% endif %} {% endblock %}