{%extends 'base.html'%} {% block content %}


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide img-responsive" src="static/images/skywater-unsplash.jpg" alt="First slide">
    </div>
    <div class="item">
      <img class="second-slide img-responsive" src="static/images/santorini-unsplash.jpg" alt="Second slide">

    </div>
    <div class="item">
      <img class="third-slide img-responsive" src="static/images/breakfast-bowl-unsplash.jpg" alt="Third slide">

    </div>
  </div>
</div>

</div>
<!-- /.carousel -->
<!-- START THE FEATURETTES -->
<!-- <hr class="featurette-divider"> -->
<div class="container">
  <div class="row featurette">
    <h1 class="">Explore!... <span class="text-muted"><small>It'll blow your mind.</small></span></h1>
    <br>
    <br>
    <div class="row">
      {% for image in images%}
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#" data-toggle="modal" data-target="#modal-{{image.id}}">
          <img class="featurette-image img-responsive center-block img-thumbnail" src="{{image.image.url}}" alt="{{image.image_name}}">
          <div class="caption">
            <p>{{image.image_name}}</p>
          </div>
        </a>
      </div>

      <!-- Large modal -->
      <div class="modal fade bs-example-modal-lg" id="modal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{image.image_name}}</h4>
                  </div>
                  <div class="modal-body ">
                    <div class="">
                      <img class="featurette-image img-responsive center-block img-rounded" style="height: 450px; width: 600px;" src="{{image.image.url}}" alt="{{image.image_name}}">
                    </div>

                    <div class="row">
                      <p>{{image.image_description}}</p>
                    </div>

                    <div class="row">
                      <p>{{image.location}}</p>
                      <p>{{image.category}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal -->
      {% empty %}
      <!-- <div class="col-md-3">
        <img class="featurette-image img-responsive center-block" src="static/images/lemonwater1.png" alt="Generic placeholder image">
      </div> -->

      <!-- <div class="row"> -->
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#" data-toggle="modal" data-target="#modal2">
          <img class="featurette-image img-responsive center-block img-thumbnail" src="static/images/lemonwater1.png" alt="image">
          <div class="caption">
            <p>Lemon Water</p>
          </div>
        </a>
      </div>
      <!-- </div> -->
      <!-- Large modal -->
      <div class="modal fade bs-example-modal-lg" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Lemon Water</h4>
                  </div>
                  <div class="modal-body ">
                    <div class="">
                      <img class="featurette-image img-responsive center-block img-rounded" style="height: 450px; width: 600px;" src="static/images/lemonwater1.png" alt="image">
                    </div>

                    <div class="row">
                      <p> Quench your thirst with some cold Lemon Water</p>
                    </div>

                    <div class="row">
                      <p>Accra, Ghana</p>
                      <p>Food</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal -->
      {% endfor%}
    </div>
    <!-- <hr> -->
  </div>
</div>
<br>
<br>
<hr>
<!-- /END THE FEATURETTES -->


<!-- FOOTER -->
<div class="container-fluid">
  <footer>
    <p class="pull-right"><a href="/">Back to top</a></p>
    <p>&copy; 2018 Sami-Mai </p>
    <!-- Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
  </footer>
</div>




{% endblock %}