{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="container">

  <div class="text-center">
    <h1 style="font-family: 'Cookie', cursive;"><strong>
    <a href="{% url 'home' %}"><img src="../../static/images/if_Instaicon.png" width="30" height="30" alt="icon"></a>
    InstaClone</strong></h1>
  </div>
  <hr>
</div>
<br>
<br>
<br>
<div class=" container ">
  <div class="row ">
    <!-- empty div -->
    <div class="col-md-1 "></div>
    <div class="col-md-5 ">
      <img src="../../static/images/instaicon1.png " alt="InstaClone Logo " style="width:450px; height:450px ">
    </div>
    <div class="col-md-4 ">
      <br>
      <br> {% if form.errors %}
      <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default ">

        <div class="panel-heading ">
          <h3 class="text-center ">Sign In</h3>
        </div>
        <div class="panel-body">
          <form action="/accounts/login/ " method="post ">
            {% csrf_token %} {% bootstrap_form form%}

            <div class="form-group ">
              <input type="submit" class="btn btn-primary btn-block" value="Login">
            </div>
            <input type="hidden" name="next " value="{{next}}">

          </form>
        </div>
        <div class="panel-body">
          <a href="/accounts/register " class="forgot ">Don't have an account yet? Sign-up here ...</a>
        </div>
      </div>
    </div>
    <!-- empty div -->
    <div class="col-md-2 "></div>
  </div>
</div>

{% endblock %}