{% load bootstrap3 %}
<!--  -->
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
  <!--  -->
  {% if title %}
  <title>Mai Splash - {{title}}</title>
  {% else %}
  <title> Mai Splash </title>
  {% endif %}
  <!--  -->
  {% block styles %}
  <!--  -->
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!--  -->
  {% endblock %}

</head>

<body>
  {% include "albums/al-navbar.html" %}
  <!--  -->
  {% block content %}
  <h1 class='text-center'>She welcomes you</h1>
  <!--  -->
  {%endblock%}
  <!--  -->
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  <!--  -->
  {% endblock %}
</body>

</html>